.hero {
  top: 0;
  width: 100%;
  min-height: 200px;
  text-align: center;
}

.hero-cta-buttons {
  margin-top: 300px;
}

.hero-social-buttons-container {
  text-align: center;
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
  background-color: #FFE5C6;
  vertical-align: middle;
}

.why-use {
  padding: 2rem 0 2rem 0;
  width: 100%;
  background-color: #cfffff;
}

.what-can-you-do {
  padding: 1rem 0 1rem 0;
  background-color: #ffc0cb; 
}

.industry-tabs {
  list-style: none;
  display: inline-block;
  margin: 0;
}

.how-to-use {
  width: 100%; 
  padding: 1rem 0 1rem 0;
  background-color: #e6e6fa;
}

.get-started {
  width: 100%;
  padding: 1rem 0 0 0;
  background-color: #dfffd3;
}

.who-is-using {
  width: 100%;
  padding: 1rem 0 0 0;
  background-color: #f3d3ff;
}
