{% extends 'base.html' %}
{% block content %}
{% include 'top-nav.html' %}

<section class="hero">
	<div class="hero-headline row">
		<div class="small-12 small-centered column">
		
			<h1 class="text-centered text-hero">Develop Native Desktop Apps with JavaScript</h1>
		</div>
	</div>
	<div class="hero-cta-buttons row">
		<div class="large-6 small-10 small-centered columns">
			<ul class="small-block-grid-1 large-block-grid-3">
				<li>
					<a href="#" class="button radius expand">Sign Up</a>
				</li>
				<li>
					<a href="#" class="button radius expand">Install</a>
				</li>
				<li>
					<a href="#pricing" class="button radius expand">Purchase</a>
				</li>
			</ul>
		</div>
	</div>
</section>

<section class="hero-social-buttons-container">
	<a href="https://github.com/trueinteractions/tint2/releases" class="text-light">Latest Release: <span class="latest-release">2.2.2</span></a>
	<a href="https://github.com/trueinteractions/tint2" class="text-light">
		<i class="fa fa-lg fa-github-alt"></i><span class="github-stars">1.6k</span> Stars on Github</a>
	<a href="https://twitter.com/tintjs" class="text-light">
		<i class="fa fa-lg fa-twitter"></i>@tintjs on Twitter
	</a>
</section>

<section class="why-use  lunar-image">
	<div class="row large-uncollapse">
		<div class="small-10 large-6 small-centered columns">
			<div class="panel-transparent">
				<p>
					Simple, yet powerful, Tint program cross-platform desktop apps with the languages and tools you already know; HTML, CSS and Javascript. Tint lets you to use desktop UI elements and the latest HTML 5 APIs. It handles the low-level, intricate, cross-platform build details; so you can focus on creating awesome desktop apps.
				</p>
			</div>
			<div class="clearfix">
				<a href="#" class="button radius right">Why Tint?</a>
			</div>
		</div>
	</div>
</section>

<section class="what-can-you-do">
	<h2 class="text-center">Quickly and Simply Build Desktop Apps</h2>
	<div class="row large-uncollapse">
		<div class="small-10 large-6 small-centered column">
			<div class="image-placeholder ideation">
				<h4>Visual Ideation</h4>
			</div>
		</div>

		<div class="small-10 large-6 small-centered column">
			<div class="panel-transparent min-height">
				<div class="tabs-content">
					<div class="content active" id="gaming-tab">
						<h3 class="text-center">Gaming</h3>
						<p>Use Panda.js, Three.js and/or HTML5 inside an embedded webview. Do you like Unity? Use it, or you can plug directly into openGL.</p>
					</div>

					<div class="content" id="enterprise-tab">
						<h3 class="text-center">Enterprise</h3>
						<p>Securely access integrated intranet asset management systems. Micromanage, Human Resources, Rewards, collaborate, Secure Workspaces for File Sharing, Project Management &amp; Collaboration for teams.</p>
					</div>

					<div class="content" id="development-tab">
						<h3 class="text-center">Development</h3>
						<p>Git client, Database editor, Language compiler with livereload, build notification from the status bar.</p>
					</div>

					<div class="content" id="communication-tab">
						<h3 class="text-center">Communication</h3>
						<p>Social media aggregator, instant messaging, secure team collaboration.</p>
					</div>

					<div class="content" id="productivity-tab">
						<h3 class="text-center">Productivity</h3>
						<p>Create collaborative kanban boards, time trackers or communication channels.</p>
					</div>

					<div class="content" id="hardware-tab">
						<h3 class="text-center">Hardware</h3>
						<p>Controls or dashboards for Arduino, Raspberry Pi, or Tessel2.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="small-11 small-centered column">
			<ul class="tabs" data-tab>
				<li class="tab-title active"><a href="#gaming-tab">Gaming</a></li>
				<li class="tab-title"><a href="#enterprise-tab">Enterprise</a></li>
				<li class="tab-title"><a href="#development-tab">Development</a></li>
				<li class="tab-title"><a href="#communication-tab">Communication</a></li>
				<li class="tab-title"><a href="#productivity-tab">Productivity</a></li>
				<li class="tab-title"><a href="#hardware-tab">Hardware</a></li>
			</ul>
		</div>
	</div>
</section>

<section class="how-to-use">
	<div class="row large-uncollapse">
		<div class="small-10 large-5 small-centered column">
			<h3 class="text-center">How To Use Tint</h3>
			<div class="clearfix">
				<ol class="steps">
					<li>Install the runtime.</li>
					<li>Write your code in javascript and node.</li>
					<li>Build a desktop app for Windows or OSX.</li>
				</ol>
				<a href="#" class="button small radius full-width">How Does Tint Work?</a>
			</div>
		</div>
		<div class="small-10 large-7 small-centered column">
			<div class="how-does-tint-work">
				<p><span class="fi-social-apple"></span><span class="fi-social-windows"></span></p>
			</div>
		</div>
	</div>
</section>

<section class="get-started">
	<h3 class="text-center">Try it out for yourself.</h3>
	<div class="row">
		<div class="small-8 large-6 small-centered column">
			<div class="small-12 large-6 column">
				<a class="button expand radius" href="">Install</a>
			</div>
			<div class="small-12 large-6 column">
				<a class="button expand radius" href="#pricing">Purchase</a>
			</div>
		</div>
		<a href="https://github.com/trueinteractions/tint2/releases" class="fi-social-github dear-sir"> Dear sir, I prefer my software free.</a>
	</div>
</section>

<section class="who-is-using">
	<div class="row">
		<div class="column small-centered small-12">
			<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-6">
				<li>
					<div class="image-placeholder">
						Logo Goes Here
					</div>
				</li>
				<li>
					<div class="image-placeholder">
						Logo Goes Here
					</div>
				</li>
				<li>
					<div class="image-placeholder">
						Logo Goes Here
					</div>
				</li>
				<li>
					<div class="image-placeholder">
						Logo Goes Here
					</div>
				</li>
				<li>
					<div class="image-placeholder">
						Logo Goes Here
					</div>
				</li>
				<li>
					<div class="image-placeholder">
						Logo Goes Here
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="column small-12 medium-6 large-5 large-offset-1">
			<div class="panel-transparent">
				<p>
					I have the ability to do amazing things now. I don't spend my time not building cool things now. I know what needs to be done and I do it.
				</p>
				<p class="text-right">
					- Bob Jobs
				</p>
			</div>
		</div>
		<div class="column small-12 medium-6 large-5 end">
			<div class="panel-transparent">
				<p>
					I have made more money using Tint 2 than I have ever made, ever. Seriously.
				</p>
				<p class="text-right">
					- Bill Fences
				</p>
			</div>
		</div>
	</div>
</section>

<section class="product-matrix-section" id="pricing">
	<h2 class="text-center">Single Developer</h2>
	<div class="row collapse">
		<div class="large-4 columns left-shadow">

			<ul class="pricing-table left-side">
				<li class="title">Educational</li>
				<li class="price">$99</li>
				<li class="description">Not-For-Profit License</li>
				<li class="bullet-item">GUI Compiler and Bundler</li>
				<li class="bullet-item">3 Months Email Support</li>
				<li class="bullet-item">3 Months of Upgrades</li>
				<li class="cta-button cta-top-padding"><a data-reveal-id="buyEducational" class="button radius" href="#">Buy Now</a>

					<!-- Buy Single Modal -->
					<div id="buyEducational" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
						<h2 id="modalTitle">Educational Version</h2>
						<form class="cc-form-edu" method="post" action="/api/order">
							<input name="amount" class="u-none" value="99.00"></input>
							<input name="version" class="u-none" value="Educational"></input>
							<div class="row purchase-price">
								<h4 class="column">Price: $99.00 USD</h4>
							</div>

							{% include 'order-form.html' %}

						</form>

						<a class="close-reveal-modal" aria-label="Close">&#215;</a>
					</div>
				</li>
			</ul>
		</div>


		<div class="large-4 columns recommended">
			<ul class="pricing-table">
				<li class="title">Commercial</li>
				<li class="price">$499</li>
				<li class="description">Commercial License</li>
				<li class="bullet-item">Debugger Included</li>
				<li class="bullet-item">GUI Compiler and Bundler</li>
				<li class="bullet-item">1 Year Email Support</li>
				<li class="bullet-item">1 Year of Upgrades</li>
				<li class="bullet-item">1 Year of Beta Previews</li>
				<li class="cta-button"><a data-reveal-id="buyCommercial" class="button radius" href="#">Buy Now</a>

					<!-- Buy Commercial Modal -->
					<div id="buyCommercial" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
						<h2 id="modalTitle">Commercial Version</h2>
						<form class="cc-form-com" method="post" action="/api/order">
							<input name="amount" class="u-none" value="499.00"></input>
							<input name="version" class="u-none" value="Commercial"></input>
							<div class="row purchase-price">
								<h4 class="column">Price: $499.00 USD</h4>
							</div>

							{% include 'order-form.html' %}

						</form>
						<a class="close-reveal-modal" aria-label="Close">&#215;</a>
					</div>
				</li>
			</ul>
		</div>

		<div class="large-4 columns right-shadow">
			<ul class="pricing-table right-side">
				<li class="title">Professional</li>
				<li class="price">$299</li>
				<li class="description">Commercial License</li>
				<li class="bullet-item">Debugger Included</li>
				<li class="bullet-item">GUI Compiler and Bundler</li>
				<li class="bullet-item">6 Months Email Support</li>
				<li class="bullet-item">6 Months of Upgrades</li>
				<li class="cta-button"><a data-reveal-id="buyProfessional" class="button radius" href="#">Buy Now</a>

					<!-- Buy Professional Modal -->
					<div id="buyProfessional" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
						<h2 id="modalTitle">Professional Version</h2>
						<form class="cc-form-pro" method="post" action="/api/order">
							<input name="amount" class="u-none" value="299.00"></input>
							<input name="version" class="u-none" value="Professional"></input>
							<div class="row purchase-price">
								<h4 class="column">Price: $299.00 USD</h4>
							</div>

							{% include 'order-form.html' %}

						</form>
						<a class="close-reveal-modal" aria-label="Close">&#215;</a>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<a href="https://github.com/trueinteractions/tint2/releases" class="fi-social-github dear-sir"> Dear sir, I prefer my software free.</a>
	<div class="row multiple-licenses">
		<div class="column small-12 small-centered text-center">
			<h3 class="text-center">Need multiple licenses, phone support or onsite training?</h3>
			<br/>
			<a class="button radius" href="mailto:sales@trueinteractions.com">Contact Us</a>
		</div>
	</div>

</section>

<!-- Order Success / Failure Modal -->
<div id="orderSuccessModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

	<div class="success-modal-content">
	</div>
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

{% include 'bottom-nav.html' %}
{% endblock content%}
