{% extends 'base.html' %}


{% block content %}

{% include 'top-nav.html' %}

<section class="hero">
  <div class="hero-cta-buttons row">
    <div class="large-6 small-10 small-centered columns">
      <ul class="small-block-grid-1 large-block-grid-3">
        <li>
          <a href="#" class="button radius expand">Sign Up</a>
        </li>
        <li>
          <a href="#" class="button radius expand">Install</a>
        </li>
        <li>
          <a href="#" class="button radius expand">Purchase</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="hero-social-buttons-container">
  <a href="#" class="">Latest Release</a>
  <span> - </span>
  <a href="#" class="">Github</a>
  <span> - </span>
  <a href="#" class="">Twitter</a>
</section>

<section class="why-use">
  <div class="row large-uncollapse">
    <div class="small-10 large-6 small-centered columns">
      <div class="panel">
        <h4>Benefits Statement</h4>
        <p>
          Bacon ipsum dolor amet meatloaf dolore tenderloin, pork in tongue pig venison t-bone fugiat reprehenderit lorem mollit meatball in. Rump qui ullamco excepteur salami chicken pastrami prosciutto nostrud sirloin. Jowl eu shankle picanha consequat do ut pancetta. In quis pastrami chuck consequat, bresaola esse meatloaf leberkas in laborum officia.
        </p>
        <p>
          Voluptate tenderloin laboris meatloaf in laborum, beef capicola tempor ball tip culpa. Kielbasa ham hock officia, short ribs doner landjaeger t-bone sausage magna chicken ipsum frankfurter. Filet mignon minim rump tenderloin nulla. Chuck ham hock aliquip, nostrud salami rump cillum fugiat alcatra meatloaf drumstick in jowl pork loin tri-tip
        </p>
      </div>
      <div class="clearfix">
        <a href="#" class="button radius right">Why Tint?</a>
      </div>
    </div>
    <div class="small-10 large-6 small-centered columns">
      <div class="panel">
        <h4>Visual Example of Benefits</h4>
        <p>
          Visual Representation.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="what-can-you-do">
  <h2 class="text-center">Visual Ideation Header</h2>
  <div class="row large-uncollapse">
    <div class="small-10 large-6 small-centered column">
      <div class="panel">
        <h4>Visual Ideation</h4>
      </div>
    </div>
    <div class="small-10 large-6 small-centered column">
      <div class="panel">
        <div class="tabs-content">
          <div class="content active" id="panel1">
            <p>This is the first panel of the basic tab example. You can place all sorts of content here including a grid.</p>
          </div>
          <div class="content" id="panel2">
            <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
          </div>
          <div class="content" id="panel3">
            <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
          </div>
          <div class="content" id="panel4">
            <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 small-centered column">
      <ul class="tabs" data-tab>
        <li class="tab-title active"><a href="#panel1">Gaming</a></li>
        <li class="tab-title"><a href="#panel2">Enterprise</a></li>
        <li class="tab-title"><a href="#panel3">Development</a></li>
        <li class="tab-title"><a href="#panel4">Communication</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="how-to-use">
  <div class="row large-uncollapse">
    <div class="small-10 large-5 small-centered column">
      <h3 class="text-center">Headline (short, 5 words)</h3>
      <p>
        Bacon ipsum dolor amet tongue short ribs t-bone shoulder sirloin turducken drumstick. Turkey chicken short loin, doner pancetta hamburger ham bresaola. Picanha pork chop leberkas jerky cow tri-tip bresaola pancetta shankle pastrami short loin sausage fatback pork loin kielbasa. Meatloaf brisket bacon filet mignon ground round salami alcatra sirloin pancetta tri-tip strip steak cupim.
      </p>
      <div class="clearfix">
        <a href="#" class="button small radius right">How Does Tint Work?</a>
      </div>
    </div>
    <div class="small-10 large-7 small-centered column">
      <div class="panel">
        <p>
          Place images here.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="get-started">
  <h3 class="text-center">Get Started Now Headline</h3>
  <div class="row">
    <div class="small-8 large-6 small-centered column">
      <div class="small-12 large-6 column">
        <a class="button expand radius" href="">Install</a>
      </div>
      <div class="small-12 large-6 column">
        <a class="button expand radius" href="">Purchase</a>
      </div>
    </div>
  </div>
</section>

<section class="who-is-using">
  <div class="row">
    <div class="column small-centered small-12">
      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-6">
        <li>
          <div class="panel">
            Logo Goes Here
          </div>
        </li>
        <li>
          <div class="panel">
            Logo Goes Here
          </div>
        </li>
        <li>
          <div class="panel">
            Logo Goes Here
          </div>
        </li>
        <li>
          <div class="panel">
            Logo Goes Here
          </div>
        </li>
        <li>
          <div class="panel">
            Logo Goes Here
          </div>
        </li>
        <li>
          <div class="panel">
            Logo Goes Here
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="column small-12 medium-6 large-5 large-offset-1">
      <div class="panel">
        <h4>Testimonial</h4>
        <p>
          I love tint.
        </p>
      </div>
    </div>
    <div class="column small-12 medium-6 large-5 end">
      <div class="panel">
        <h4>Testimonial</h4>
        <p>
          I love tint.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock content%}
