{% extends 'base.html' %}


{% block content %}

{% include 'top-nav.html' %}

<section class="hero">
  <div class="hero-cta-buttons row">
    <div class="large-6 small-10 small-centered columns">
      <ul class="small-block-grid-1 large-block-grid-3">
        <li>
          <a href="#" class="button radius expand">Sign Up</a>
        </li>
        <li>
          <a href="#" class="button radius expand">Install</a>
        </li>
        <li>
          <a href="#" class="button radius expand">Purchase</a>
        </li>
      </ul>
    </div>
  </div>
</section>
  <div class="hero-social-buttons-container">
    <a href="#" class="">Latest Release</a>
    <a href="#" class="">Github</a>
    <a href="#" class="">Twitter</a>
  </div>

{% endblock content%}
