<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

<footer class="footer">
	<div class="row">
		<div class="small-12 medium-6 large-5 columns">
			<p class="logo">Tint</p>
			<p class="footer-links">
				<a href="#">Home</a>
				<a href="#">Getting Started</a>
				<a href="#">Reference</a>
				<a href="#">Blog</a>
				<a href="#">Faq</a>
				<a href="#">Contact</a>
			</p>
			<p class="copywrite">Tint © 2015</p>
		</div>
		<div class="small-12 medium-6 large-4 columns">
			<ul class="contact">
				<li><p><i class="fi-marker"></i>720 East Arrowhead Lane<br /> Salt Lake City, UT 84107</p></li>
				<li><p><i class="fi-mail"></i>sales@trueinteractions.com</p></li>
				<li><p><i class="fi-mail"></i>support@trueinteractions.com</p></li>
			</ul>
		</div>
		<div class="small-12 medium-12 large-3 columns">
			<p class="about subheader">Made with space dust and moon rocks.</p>
			<ul class="inline-list social">
				<a href="https://twitter.com/tintjs"><i class="fi-social-twitter"></i></a>
				<a href="https://github.com/trueinteractions/tint2"><i class="fi-social-github"></i></a>
			</ul>
		</div>
	</div>
</footer>
